<div class="modal-header">
    <h4 class="modal-title">FEES Auction</h4>
  </div>
  <div class="modal-body">
    <p>Auction ID : {{ id }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>

    <div class='messages'> <!-- messages -->
        <div class="alert alert-success" role="alert" *ngIf='successMsg'>{{ successMsg }}</div>
        <div class="alert alert-danger" role="alert" *ngIf='errorMsg'>{{ errorMsg }}</div>
    </div>
  </div>