<div class="modal-header">
  <h4 class="modal-title">PAID Auction</h4>
</div>
<div class="modal-body">
  <h4>{{ description }}</h4>
  <form [formGroup]='PaidForm'>
    <!-- paidBy --> <!-- Droppdown List-->
    <div class="form-group row">
      <label for="paidBy" class="col-sm-3 col-form-label">Method Of Payment</label>
      <div class="col-sm-9">
        <select formControlName='paidBy' placeholder="Please Select Category">
          <option value='Cash'>Cash</option>
          <option value='Bank'>Bank Transfer</option>
          <option value='PayPal'>PayPal</option>
        </select>
      </div>
    </div>
    <!-- paypalTransaction -->
    <div class="form-group row">
      <label for="paypal" class="col-sm-3 col-form-label">Paypal Ref Number</label>
      <div class="col-sm-9">
        <input formControlName='paypalTransaction' type="text" class="form-control" id="paypal"
        placeholder="Pay Pal Reference Number">
      </div>
    </div>
    <!-- fee -->
    <div class="form-group row">
      <label for="fee" class="col-sm-3 col-form-label">PayPal Fee</label>
      <div class="col-sm-9">
        <input  formControlName='fee' type="number" class="form-control" id="fee"
        placeholder="Paypal Fee">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div *ngIf='!successMsg && !errorMsg'>
    <button type="button" class="btn btn-outline-dark" [disabled]='processing' (click)="submit(PaidForm.value)">Paid</button>
    <button type="button" class="btn btn-outline-dark" [disabled]='processing' (click)="activeModal.close('cancel')">Cancel</button>
  </div>
  <div class='messages'> <!-- messages -->
      <div class="alert alert-success" role="alert" *ngIf='successMsg'>{{ successMsg }}</div>
      <div class="alert alert-danger" role="alert" *ngIf='errorMsg'>{{ errorMsg }}</div>
  </div>
</div>