<div class="modal-header">
    <h4 class="modal-title">Un Sold Auction</h4>
    <br>
    <p>{{description}}</p>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label for="date" class="col-sm-3 col-form-label">Date Listed</label>
      <div class="col-sm-9">
        <input [(ngModel)]='dateListed' type="date" class="form-control" id="date"
        placeholder="Date Listed">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="relist(dateListed)">Re List / Draft</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('cancel')">Cancel</button>

    <div class='messages'> <!-- messages -->
        <div class="alert alert-success" role="alert" *ngIf='successMsg'>{{ successMsg }}</div>
        <div class="alert alert-danger" role="alert" *ngIf='errorMsg'>{{ errorMsg }}</div>
    </div>
  </div>