<button class="btn btn-danger" (click)="openNewAuction()">Create New Auction</button>
<br>
<br>
<div class="btn-group btn-group-toggle">
  <button type="button" class="btn btn-primary" (click)='status = StatusShow'>All</button>
  <button type="button" class="btn btn-primary" *ngFor="let sta of StatusShow" (click)='status = [sta]'>{{StatusList[sta]}}</button>
</div>
<br>
<div class="btn-group btn-group-toggle">
  <button type="button" class="btn btn-secondary" (click)='category= undefined'>Reset</button>
  <button type="button" class="btn btn-secondary" *ngFor="let cat of CategoryList; index as i" (click)='category= i'>{{cat}}</button>
</div>
<h1>Auctions</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col" *ngIf='status.length>1'>Status</th>
    <th scope="col">Date Listed</th>
    <th scope="col" *ngIf='!category'>Category</th>
    <th scope="col">Description</th>
    <th scope="col">Initial Price</th>
    <th scope="col">Postage</th>
    <th scope="col">Weight</th>
    <th scope="col">Buttons</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let auction of AUCTIONS | tableSort : status : category; index as i" >
      <td *ngIf='status.length>1'>
        {{ StatusList[auction.status] }}
      </td>
      <td>{{ auction.auction.dateListed[0] | date:'dd-MM-yy' }}</td>
      <td *ngIf='!category'>{{ CategoryList[auction.category] }}</td>
      <td>{{ auction.auction.description }}</td>
      <td>{{ auction.auction.initialPrice.toFixed(2) }}</td>
      <td>{{ auction.auction.postage.toFixed(2) }}</td>
      <td>{{ auction.auction.weight.toFixed(2) }}</td>
      <td>
        <button class="bth btn-secondary" *ngIf='auction.status==1' (click)="openUnsold(auction)">Unsold</button>
        <button class="bth btn-secondary" *ngIf='auction.status==1' (click)="openSold(auction)">Sold</button>        
        <button class="bth btn-secondary" *ngIf='auction.status==2' (click)="openPaid(auction)">Paid</button>
        <button class="bth btn-secondary" (click)="openPost(auction)">Post</button>
        <button class="bth btn-secondary" (click)="openFees(auction)">Fees</button>
        <button class="bth btn-secondary" (click)="openDelivery(auction)">Delivered</button>
      </td>
    </tr>
  </tbody>
</table>